.index_main {
  position: relative;
}
.index_main .index_logo {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 40px;
  color: white;
}
.index_main .index_nav{
  position: absolute;
  z-index: 2;
  top: 48px;
  right: 40px;
}
.index_main .index_nav .nav:link{
  color: white;
  text-decoration: none;
}
.index_footer {
  background-color: #ECF0F1;
  padding: 25px;
  font-size: 10px;
  text-align: center;
}
